body {
    background-color: white;
    font-family: 'Days One', sans-serif;
}

#song-search {
    border-color: black;
}

.search {
    box-sizing: border-box;
    margin: 20px;
}
#lyrics-content{
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    height: 336.5px;
    width: 41.5%;
    border: 1px solid #ccc;
    font: 16px/26px Georgia, Garamond, Serif;
    overflow: auto;
}

